/*!
 * Stylesheet for site "Allt om klockor"
 */

/* general styling */
body {
    background-color: #fafafa;
    color: #303841;
}

h1 {
    color: #005691;
}

.inner-wrap-header {
    background-color: #fafafa;
    color: #004a7c;
    padding: 0.5rem;
    box-shadow: #0e0f0f1a 0px 10px 10px -10px;
}

.outer-wrap-main {
    min-height: 700px;
}

/* Style for question boxes */
.question-list-wrap {
    width: 100%;
}

.question-wrap {
    width: 100%;
    border: 1px solid #004a7c;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.question-wrap h4 {
    color: #004a7c;
}

/* single question view */
.big-question-wrap {
    border-bottom: 1px solid #000;
    margin-bottom: 1rem;
}

.answer-wrap {
    border: 1px solid #000;
    margin-bottom: 1rem;
}
