/*!
 * Stylesheet for site "Allt om klockor"
 */

body {
    background-color: #fafafa;
    color: #303841;
}

h1 {
    color: #005691;
}

.inner-wrap-header {
    background-color: #e8f1f5;
    color: #004a7c;
    border-bottom: 1px solid #3b3b3b;
}

/* Style for question boxes */
.question-list-wrap {
    width: 100%;
}

.question-wrap {
    width: 100%;
    border: 1px solid #004a7c;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.question-wrap h4 {
    color: #004a7c;
}

