/*!
 * Stylesheet for site "Allt om klockor"
 */

/* general styling */
body {
    background-color: #FFFFFF;
    color: #303841;
    font-family: sans-serif;
}

h1 {
    color: #38A169;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border: none;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 0.5rem;
}

a {
    color: #38A169;
    text-decoration: none;
}

a:hover {
    color: #276749;
}

a:visited {
    color: #38A169;
}

a:visited:hover {
    color: #276749;
}

.heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.inner-wrap-header {
    background-color: #FFFFFF;
    color: #38A169;
    padding: 0.5rem;
    box-shadow: #0e0f0f1a 0px 10px 10px -10px;
    font-family: sans-serif;
}

.region-header-col-1 .site-logo-text a{
    text-shadow: none;
    font-family: sans-serif;
    transition: none;
}

.region-header-col-1 .site-logo-text a:hover{
    color: #276749;
}

.outer-wrap-main {
    margin-top: 40px;
    min-height: 700px;
}

input[type=submit] {
    padding: 0.5rem;
    background-color: #38A169;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

input[type=submit]:hover {
    background-color: #276749;
}

/* Style for question boxes */
.question-list-wrap {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.question-wrap {
    width: 100%;
    border-radius: 5px;
    padding-left: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 200px;
    overflow: hidden;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.question-wrap p,
.question-wrap h1,
.question-wrap h2,
.question-wrap h3,
.question-wrap h4,
.question-wrap h5,
.question-wrap h6,
.question-wrap a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-wrap h4 {
    color: #38A169;
}

/* single question view */
.big-question-wrap {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.answer-wrap {
    border: 1px solid #000;
    margin-bottom: 1rem;
}

.question-content {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 1rem;
}

.userbox-wrap {
    width: 40%;
    height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #1C4532;
    border-radius: 5px;
}

.userbox-wrap img {
    margin-right: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.userbox-wrap p {
    margin: 0
}

.userbox-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.userbox-footer p {
    width: 70%;
}

.answer-btn-wrap {
    margin-bottom: 1rem;
}

.answer-btn-wrap a {
    padding: 0.5rem;
    background-color: #38A169;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.answer-btn-wrap a:hover {
    background-color: #276749;
}

.tag-wrap {
    display: flex;
}

.tag {
    border: 1px solid #276749;
    padding: 0.3rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    color: #38A169;
}

/* question comment */
.question-comment-wrap {
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.comment-footer {
    width: 100%;
}

.comment-userbox-wrap {
    margin-left: auto;
    margin-top: auto;
    min-width: 100px;
}

/* comments */
.comment-wrap {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    width: 95%;
    margin-left: 5%;
}

.comment-wrap fieldset {
    padding: 0;
    border: none;
}

.comment-wrap fieldset p {
    margin: 0;
}

.comment-wrap fieldset p br {
    display: none;
}

.comment-wrap fieldset p textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 0.5rem;
}

.comment-wrap fieldset label {
    display: none;
}

.comment-wrap fieldset .buttonbar {
    width: 20%;
}

/* create question view */
#form-element-tags {
    min-width: 150px;
}

/* tags/tag */
.all-titles-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.question-title-wrap {
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.question-title-h4 a {
    text-decoration: none;
    color: #38A169;
}

.question-title-h4 a:hover {
    color: #22543D;
}

/* tags */
.all-tags-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.all-tags-wrap .tag-wrap {
    /* width: 10%; */
    min-width: 10%;
    margin-left: 1rem;
}

.all-tags-wrap .tag-wrap p {
    min-width: 100%;
}


/* footer */
.outer-wrap-footer {
    background-color: #fff;
    border-top: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(154,230,180,1) 0%, rgba(72,187,120,1) 50%, rgba(34,84,61,1) 100%);
}

.inner-wrap-footer {
    background-color: #fff;
}

/* home */
.home-main-wrap {
    width: 100%;
}

.home-all-questions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-question-wrap {
    width: 100%;
    display: flex;
}

.home-question-wrap .question-wrap {
    width: 65%;
    margin-right: 5%;
}

.home-user-wrap {
    width: 30%;
}

.home-user-wrap .userbox-wrap {
    width: 100%;
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    border: none;
    height: 80px;
}

.home-user-wrap .userbox-wrap p {
    font-size: 18px;
}

.home-all-tags {
    width: 100%;
}

/* about page */
.wrap-sidebar .block {
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}


.wrap-sidebar .block h4 {
    background-color: #38A169 !important;
    background-image: none !important;
    color: #fff;
    border: none;
    padding-left: 1rem;
}

.wrap-sidebar .block p{
    padding: 1rem;
}